.number path{
    stroke: #fff;
}
text{
  font-family: "Gill Sans MT", "Gill Sans", sans-serif;
  font-weight:bold;
}
.number text{
  text-anchor: middle;
  fill:#fff;
}
.scroll{
    fill: #000;    
    -moz-user-select: none;
    -webkit-user-select:none;
    user-select: none;
    -ms-user-select: none;
}

               
